style=require('./toaster-popup.styl')
.backdrop(class=state)
  .dialog
    .title=title
    .description
      .thumbnail
        img(src="/images/" + image)
      p=introduction
    .actions
      .button.cta View details
      .button(
        (click)=close()
      ) Close