:host
  display: block
  position: relative

.item
  display: grid
  grid-template-columns: auto 1fr
  padding: 2em 1em
  margin: 1em 0
  border-radius: 5px
  color: rgba(0,0,0,0.5)
  cursor: pointer
  .heading
    font-size: 1.5em
  .kcal
    font-weight: bold
    span
      opacity: .6
  .icon
    grid-row: span 2
    img
      display: none
      height: 3em
      filter: drop-shadow(1px 1px 0px #000)
.total
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: linear-gradient(45deg, rgba(55,55,73,1) 8%, rgba(77,77,101,1) 75%)
  padding: 2em
  border-radius: 1em
  height: 170px
  position: sticky
  top: 0
  left: 0
  z-index: 1
  .counter
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    font-weight: bold
    border: 5px solid #0077B6
    height: 10em
    width: 10em
    border-radius: 50%
    h2
      margin: 0
      font-weight: bold
      font-size: 3em
      line-height: 1em
      &.warning
        color: orange
      &.danger
        color: red
    .heading
      font-size: .9em
      color: var(--primary-text-1)
    .description
      font-size: .9em
      color: var(--primary-text-1)
.stats
  margin-bottom: -1em
  width: 100%
  display: flex
  justify-content: space-between
  .label
    font-weight: bold
    text-transform: uppercase
    color: var(--primary-text-1)
    font-size: .8em
  .value
    font-size: .9em
  & > div
    display: flex
    flex-direction: column
    text-align: center