:host
  display: block
  position: relative

.item
  display: grid
  grid-template-columns: auto 1fr
  padding: 2em 1em
  margin: 1em
  border-radius: 5px
  color: rgba(0,0,0,0.5)
  cursor: pointer
  .heading
    font-size: 1.5em
  .kcal
    font-weight: bold
    span
      opacity: .6
  .icon
    grid-row: span 2
    img
      display: none
      height: 3em
      filter: drop-shadow(1px 1px 0px #000)
.total
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: linear-gradient(45deg, rgba(55,55,73,1) 8%, rgba(77,77,101,1) 75%)
  padding: 1em 2em
  border-radius: 1em
  position: sticky
  top: 0
  left: 0
  z-index: 1
  kcal-xp-meter
    margin: 1em 0
.stats
  width: 100%
  display: flex
  justify-content: space-between
  .label
    font-weight: bold
    text-transform: uppercase
    color: var(--primary-text-1)
    font-size: .8em
  .value
    font-size: .9em
  & > div
    display: flex
    flex-direction: column
    text-align: center
kcal-progress-ring
  h2
    margin: 0
    font-weight: normal
    font-size: 2em
    line-height: 1em
    margin: .25em 0
    &.warning
      color: orange
    &.danger
      color: red
  .heading
    font-size: .9em
    color: var(--primary-text-1)
  .description
    font-size: .9em
    color: var(--primary-text-1)
.bonus
  &.medium
    .value
      color: #F7CE68
      font-weight: bold
      filter: drop-shadow(2px 1px 0px black)
  &.high
    .label, .value
      background: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold
      filter: none
      animation-name: lift-up
      animation-duration: .5s
      animation-fill-mode: forwards
      animation-timing-function: ease-out
      transform: scale(1.15)

@keyframes lift-up
  from
    transform: scale(1)
  to
    transform: scale(1.15)
