
h1
  &:first-of-type
    margin-top: 0
h1, h2
  font-weight: 300
  margin: 0
  margin-top: 1em
  color: #00B4D8
  text-align: center
.ingredients, .starred
  max-height: 150px
  overflow: auto
  margin: 0 1em
  background-color: rgba(0,0,0,0.1)
  border-radius: 5px
  padding: .5em
  scroll-behavior: touch
  .item
    display: flex
    margin: .5em 0
    padding: .5em
    background-color: rgba(0,0,0,0.1)

    a
      margin-left: auto
      color: currentColor
      text-decoration: none