:host
  display: flex
  flex-direction: column
h1
  &:first-of-type
    margin-top: 0
h1, h2
  font-weight: 300
  margin: 0
  margin-top: 1em
  color: #00B4D8
.ingredients, .starred
  display: flex
  flex-direction: column
  height: 150px
  overflow: auto
  background-color: rgba(0,0,0,0.1)
  border-radius: 5px
  padding: .5em
  scroll-behavior: touch
  .item
    display: flex
    margin: .25em 0
    padding: .5em
    min-height: 1.5em
    align-items: center
    background-color: rgba(0,0,0,0.1)

    a
      margin-left: auto
      color: currentColor
      text-decoration: none
.no-fav
  font-weight: bold
  text-align: center
  font-size: 2em
  color: rgba(0,0,0,0.3)
  margin: auto 0
input
  border: 0
  background-color: #242432
  border-radius: 5px
  padding: .5em 1em
  font-size: 16px
  box-sizing: border-box
  color: var(--primary-text-0)
  margin-bottom: .25em
  &:focus
    outline: none
    border-color: #0077B6