:host
  display: flex
  flex-direction: column

.menu
  background-color: #0077b6
  padding: 1em
  padding-bottom: 0
  margin-bottom: 2em
.tabs
  display: flex
  margin-top: 1em
  .tab
    padding: .5em 1em
    background-color: rgba(255,255,255,.2)
    border-radius: 5px 5px 0 0
    border-bottom: 3px solid transparent
    margin-right: 5px
    color: rgba(255,255,255,.9)
    &.active
      background-color: #00B4D8
      border-color: rgba(0,0,0,.5)
      
      font-weight: bold