kcal-main
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 3em 1em;
  padding-bottom: 0;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box
  .navigation
    height: var(--navigation-height);
  .top
    display: flex
    justify-content: space-between
    align-items: center
    .logout
      color: var(--primary-text-1)
  .greeter
    display: flex
    color: #c7c2ec
    font-size: 1.5em
    .user
      margin-left: .25em
      font-weight: bold
      color: var(--primary-text-0)
  .date
    margin-top: .25em
  .menu
    background-color: #2e2e3d
    padding-top: 3em
    padding-bottom: 0
    margin-bottom: 2em
    font-weight: 400
  .logo
    margin: 0 1em
    display: flex
    justify-content: space-between
    a
      color: #11e196
      text-decoration: none
      text-transform: uppercase
      font-size: .9em
      font-weight: bold
  .tabs
    display: flex
    margin-top: 1em
    overflow: auto 
    white-space: nowrap
    scroll-behavior: touch
    .tab
      padding: .5em 1em
      margin-right: 1px
      color: var(--primary-text-1)
      &.active
        border-color: rgba(0,0,0,.5)
        font-weight: bold
        color: var(--primary-text-0)
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          height: .3em
          width: .3em
          background-color: #fff
          border-radius: 50%
  .sub-pages
    overflow: auto