style=require('./main.styl')
if state !== 'auth'
  .top
    .greeter Hey,
      .user Tobben
        span !
    .logout(
      (click)=logout()
    ) Logout
  .date= `It's ` + moment().format('dddd MMM D, YYYY')
  if geo
    .location=geo
  .menu
    .tabs
      .tab(
        (click)=setState('quick-log'),
        class={ active: state === 'quick-log' }
      ) Quick log
      .tab(
        (click)=setState('log-meal'),
        class={ active: state === 'log-meal' }
      ) Log meal
      .tab(
        (click)=setState('history'),
        class={ active: state === 'history' }
      ) History
      .tab(
        (click)=setState('ingredients'),
        class={ active: state === 'ingredients' }
      ) Ingredients

if state === 'auth'
  kcal-auth(
    (changeState)=setState(e.state)
  )
    
if state === 'quick-log'
  kcal-quick-log(
    (changeState)=setState(e.state)
  )
else if state === 'log-meal'
  kcal-new-meal(
    (changeState)=setState(e.state)
  )
else if state === 'history'
  kcal-history(
    (changeState)=setState(e.state)
  )
else if state === 'ingredients'
  kcal-ingredients(
    (changeState)=setState(e.state)
  )